.tab-content.erreur {
    padding-top: 120px;
}
.visitor {
    margin-top: 40px;
    margin-bottom: 30px;
}
ul  {
    list-style-type: none;
    padding-left: 0;
}
i {
    padding-left: 15px;
}
.tooltip-custom + .tooltip > .tooltip-inner {
    background-color: #f44336;
    color: #fff;
    position: relative;
    left: -120px;
}
.fa-trash {
    position: relative;
    left: -6px;
}
#dispo{
    color: #9c27b0;
}