{% extends 'base.html.twig' %}

{% block body %}
<div class="wizard-navigation">
    <ul>
        <li><a href="#" data-toggle="tab">Étape 1</a></li>
        <li class="active"><a href="#" data-toggle="tab">Étape 2</a></li>
        <li><a href="#" data-toggle="tab">Confirmation</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="info-text">Renseignez les informations demandées pour chaque visiteur.</h4>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="controls">
                    <div class="col-md-3">
                        <h3 class="text-center visitor">Visiteur&nbsp;1</h3>
                    </div>
                    <div class="col-md-9">
                    {% include 'form/visitor.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
