{% extends 'base.html.twig' %}
{% block nav %}
    <div class="container-fluid text-center home-nav">
        <button type="button" class="btn btn-danger btn-lg pull-left" data-toggle="modal" data-target="#horaires">
            Horaires
        </button>
        <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#tarifs">
            Tarifs
        </button>
    </div>
{% endblock %}
{% block header %}
    <div class="home">
        <h3 class="wizard-title">
            Bienvenue sur la billetterie officielle du musée du Louvre.
        </h3>
        <h5>Réservez vos billets en ligne et évitez les files d'attente.</h5>
    </div>
{% endblock %}
{% block body %}
    <div class="text-center">
        <a href="{{ path('billetterie') }}" class="btn btn-danger btn-lg" >Billetterie</a>
    </div>
    <div class="wizard-footer">
        <div class="text-center stripe">
            <img id="logo-stripe" src="{{ asset('assets/img/stripe.png') }}" alt="logo-stripe">
            <p>Paiement 100% sécurisé</p>
        </div>
    </div>
{% endblock %}
